@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700);

html
{
        background: url(../img/Website-Design-Background.png) center center fixed;
        background-position: fixed;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.clearfix:after
{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body
{
        padding: 0px;
        margin: 0px;
        font-family: 'Raleway', sans-serif;
}

.bak:after
{
        position: relative;
        display: block;
}

#topNav
{
        width: 90%;
        position: relative;
        z-index: 10;
        right: 0;
        text-align: right;
        color: #f0f0f0;
        display: block;
}

#topNav ul, li{
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#topNav li{
    padding: 15px;
    margin: 9px;
}

.active{
    border-bottom: 2px solid #fff;
}

#topNav li:hover{
    transition: all 0.1s ease;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    color: #fff;
}

.welcome{
    position: relative;
    font-size: 3em;
    width: 100%;
    /*  animation: type 10s steps(90, end) 1;*/
    color: #fff;
    text-align: center;
    margin-top: 10%;
}

.lg-title{
        box-sizing: border-box;
        position: relative;
        z-index: 1000;
        display: block;
        padding: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 140px;
        width: 100%;
        font-size: 3em;
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.45);
}

.content
{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        background-color: #fff;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.content form span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cardContainer{
    max-width: 800px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    margin: 30px auto;
    margin-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.cardContent
{
    width: 100%;
}

.card-image img
{
    width: 300px;
    float: left;
}

.card-info table{
    padding: 20px;
    text-align: left;
}

.card-info table tr th{
    padding: 15px;
}

.card-info table span{
    color: #666;
}

.socialMediaBlock{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(233, 144, 144, 0.83);
    text-align: center;
    margin-top: 10px;
}

.socialMediaBlock img{
    width: 40px;
    height: 35px;
    margin: 0px 20px;
    padding: 10px;
}

.socialMediaBlock img:hover{
    transition: background 0.2s linear;
    background: rgba(255, 255, 255, 0.43);
    /*border-radius: 50%;*/
    cursor: pointer;
}

.socialMediaBlock a
{
        text-decoration: none;
}

.code
{
        background: url(../img/code.png) center center fixed;
        background-position: fixed;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.tech
{
        width: 100%;
        display: block;
}

.tech li
{
        width: 20%;
}

.tech li img
{
        width: 100%;
}

.awesome-shadow
{
        box-shadow: 0px 0 15px -4px rgba(31, 73, 125, 0.8), 2px 0 1px -4px rgba(31, 73, 125, 0.8);
}

.name:hover
{
        transition: color 0.2s linear;  
}

.f:hover{ color: rgba(255, 255, 255, 0.43); }

.e:hover{ color: rgba(255, 255, 25, 0.43); }

.r:hover{ color: rgba(255, 255, 230, 0.43); }

.d:hover{ color: rgba(255, 155, 230, 0.43); }

.i:hover{ color: rgba(225, 155, 230, 0.43); }

.no-flex
{
    display: block;
}

.text-left
{
    text-align: left;
}

@keyframes type{
    from{width: 0;}
}

@media screen and (max-width: 450px)
{
    .welcome h1
    {
        font-size: 1em;
    }

    .card-image img
    {
        width: 100%;
    }
}
