@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700);

html
{
        background: url(../img/Website-Design-Background.png) center center fixed;
        background-position: fixed;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

a
{
    text-decoration: none !important;
}

.amatic
{
    font-family: 'Amatic SC', cursive;
}

h2
{
    font-size: 2.8em;
}


.clearfix:after
{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body
{
        padding: 0px;
        margin: 0px;
        font-family: 'Raleway', sans-serif;
}

h2
{
    color: #fff;
}

.bak:after
{
        position: relative;
        display: block;
}

#topNav
{
        width: 90%;
        position: relative;
        z-index: 10;
        right: 0;
        text-align: right;
        color: #f0f0f0;
        display: block;
}

#topNav ul, li{
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#topNav li{
    padding: 15px;
    margin: 9px;
}

.topNav li a
{
    text-decoration: none !important;
    color: #fff;
}

li a:visited
{
    text-decoration: none !important;
    color: #fff;
}

.active{
    border-bottom: 2px solid #fff;
}

#topNav li:hover{
    transition: all 0.1s ease;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    color: #fff;
}

.welcome{
    position: relative;
    font-size: 3em;
    width: 100%;
    /*  animation: type 10s steps(90, end) 1;*/
    color: #fff;
    text-align: center;
    margin-top: 10%;
}

.lg-title{
        box-sizing: border-box;
        position: relative;
        z-index: 1000;
        display: block;
        padding: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 140px;
        width: 100%;
        font-size: 3em;
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.45);
}

.container
{
    max-width: 800px;
    margin: 40px auto;
}

.content
{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        background-color: #fff;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.content form span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cardContainer{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    margin: 30px auto;
    margin-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.cardContent
{
    width: 100%;
}

.card-image img
{
    width: 300px;
    float: left;
}

.card-info table{
    padding: 20px;
    text-align: left;
}

.card-info table tr th{
    padding: 15px;
}

.card-info table span{
    color: #666;
}

.socialMediaBlock{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(233, 144, 144, 0.83);
    text-align: center;
    margin-top: 10px;
}

.socialMediaBlock img{
    width: 40px;
    height: 35px;
    margin: 0px 20px;
    padding: 10px;
}

.socialMediaBlock img:hover{
    transition: background 0.2s linear;
    background: rgba(255, 255, 255, 0.43);
    /*border-radius: 50%;*/
    cursor: pointer;
}

.socialMediaBlock a
{
        text-decoration: none;
}

.code
{
    background: url(../img/code-two.png) center center fixed !important;
    background-position: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tech
{
    width: 100%;
    display: block;
}

.tech li
{
    width: 20%;
}

.tech li img
{
    width: 100%;
}

.awesome-shadow
{
    box-shadow: 0px 0 15px -4px rgba(000, 000, 000, 0.8), 2px 0 1px -4px rgba(31, 73, 125, 0.8);
}

.name:hover
{
    transition: color 0.2s linear;  
}

.f:hover{ color: rgba(255, 255, 255, 0.43); }

.e:hover{ color: rgba(255, 255, 25, 0.43); }

.r:hover{ color: rgba(255, 255, 230, 0.43); }

.d:hover{ color: rgba(255, 155, 230, 0.43); }

.i:hover{ color: rgba(225, 155, 230, 0.43); }

.no-flex
{
    display: block;
}

.text-left
{
    text-align: left;
}

@keyframes type{
    from{width: 0;}
}

@media screen and (max-width: 450px)
{
    .welcome h1
    {
        font-size: 1em;
    }

    .card-image img
    {
        width: 100%;
    }
}

.border-text
{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #666;
    color: #fafafa;
    border-radius: 2px;
}

.hidden
{
    display: none   !important;
    visibility: hidden  !important;
}

.back-block
{
    background: rgba(000,000,000, 0.8);
    padding: 10px;
}

.white-back
{
    background-color: #fff;
    color: #000;
    border-color: #fff;
    box-shadow: 0px 0 15px -4px rgba(255, 255, 255, 0.2), 2px 0 1px -4px rgba(255, 255, 255, 0.2);
}

.flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card-container
{
    width: 48%;
}

.project-card-container button
{
    position: absolute;
    z-index: 100000;
    margin-top: -70px;
    margin-left: 130px;
    padding: 10px;
    border: none;
    color: #fff;
    background-color: rgba(25, 157, 255, 0.98);
    font-size: 12px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

.project-card-container:hover  button
{
    visibility: visible;
    opacity: 1;
}

.project-card
{
    width: 100%;
    background-color: transparent;
    margin: 20px 0px;
    height: 300px;
}

.project-card img
{
    height: 330px;
}

.project-card h3
{
    font-size: 30px;
    padding: 0px !important;
    margin: 10px 0px !important;
}

.img-responsive
{
    width: 100%;
    display: block;
}

.white-text
{
    color: #fff !important;
}

.paul-west
{
    background: #bad12f !important;
}
.back
{
    width: 100% !important;
    background: #bad12f !important;
}

.back-content
{
    height: 300px;
}